{% extends "layout.html" %}

{% block content %}
    <!-- About Page Template -->
    <section class="content-section">
        <header>
            <h1 class="display-5">About</h1>
        </header>

        <article class="jumbotron">
            <p class="lead">
                Discover the essence of expression at <span class="font-weight-bold">Blogify</span>, a
                welcoming platform meticulously crafted for individuals to share their thoughts, stories, and
                insights. Here, we embrace inclusivity, providing a space where diverse voices converge to create a
                rich tapestry of perspectives. Whether you're an avid writer, an aspiring storyteller, or someone
                with a unique perspective to share, <span class="font-weight-bold">Blogify</span> invites you to join
                our vibrant community. Unleash your creativity, connect with like-minded individuals, and let your
                ideas resonate in this dynamic haven of ideas and inspiration.
            </p>
            <hr class="my-4">
            <p>
                This project is a passion-fueled solo endeavor dedicated to carving out a haven for personal
                expression and the exchange of invaluable content. At its core, <span class="font-weight-bold">
                Blogify</span> seeks to empower individuals to articulate their thoughts with freedom and
                authenticity. Whether you're a seasoned writer or stepping into the realm of self-expression for the
                first time, this platform is designed to be your canvas. Join us on this journey of discovery, where
                every word holds the potential to resonate and inspire within our vibrant community.
            </p>
          <p class="text-muted">
              <span class="mr-2">»</span><a class="text-dark" href="#">Learn more</a>
          </p>
        </article>

        <div class="row">
            <div class="col-md-6">
                <article>
                    <h4>My Vision</h4>
                    <p>
                        At <span class="font-weight-bold">Blogify</span>, my vision is to build a community around
                        meaningful discussions and creative content.
                    </p>
                </article>
            </div>
            <div class="col-md-6">
                <article>
                    <h4>Contact Me</h4>
                    <p>
                        If you have any questions or feedback, feel free to reach out to me at <em>emodiemeka@engineer.com</em>.
                    </p>
                </article>
            </div>
        </div>
    </section>
{% endblock content %}