<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous"
        >

        <!-- Bootstrap Icons CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- FontAwesome JS -->
        <script src="https://kit.fontawesome.com/d860a45d09.js" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='main.css') }}"
        >

        <style>
          .feature-image-container {
              height: 300px;
              width: 100%;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
          }
        </style>

        <!-- Dynamic Title -->
        {% if title %}
        <title>Blogify - {{ title }}</title>
        {% else %}
        <title>Blogify</title>
        {% endif %}
    </head>

    <body>
        <!-- Site Header -->
        <header class="site-header">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container d-flex justify-content-between">
                    <a class="navbar-brand mr-4" href="/">Blogify</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarToggle"
                            aria-controls="navbarToggle"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar Content -->
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main Content -->
        <main role="main" class="container">
            <!-- Hero section start-->
            <section class="hero py-4 bg-primary rounded text-white text-center">
                    <div>
                        <h1 class="fw-bold mb-4 text-white">Welcome to Blogify</h1>
                        <p class="lead mb-4">
                            Explore the world of blogging with Blogify - a platform where you can share your thoughts, connect with like-minded individuals, and make your voice heard. Join our community and start your blogging journey today!
                        </p>
                        <a class="btn btn-light btn-lg" href="{{ url_for('users.register') }}">Get Started</a>
                    </div>
            </section>
            <!-- Hero section end-->

           <!-- Feature Section -->
            <section class="py-5">
                <div class="container text-center">

                    <!-- Feature 1 - User Accounts -->
                    <div class="row">
                        <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                            <div class="feature-image-container img-fluid"
                                 style="background-image: url('{{ url_for('static', filename='img/user_accounts_image.jpg') }}');" loading="lazy"></div>
                        </div>

                        <div class="col-12 col-sm-6 align-self-center justify-content-md-ceneter">
                            <div class="steps__content-width">
                                <span>01</span>
                                <h4 class="fw-bold mb-4">User Accounts</h4>
                                <p>Register and manage your own account.</p>
                                <a class="btn btn-primary btn-lg" href="{{ url_for('users.register') }}">Register</a>
                            </div>
                        </div>
                    </div>

                    <!-- Feature 2 - Write and Publish -->
                    <div class="row">
                        <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter order-sm-1">
                            <div class="feature-image-container img-fluid"
                                 style="background-image: url('{{ url_for('static', filename='img/write_publish_image.jpg') }}');" loading="lazy"></div>
                        </div>

                        <div class="col-12 col-sm-6 align-self-center justify-content-md-ceneter">
                            <div class="steps__content-width">
                                <span>02</span>
                                <h4 class="fw-bold mb-4">Write and Publish</h4>
                                <p>Create and share your thoughts with the world.</p>
                                <a class="btn btn-primary btn-lg" href="{{ url_for('users.login') }}">Login</a>
                            </div>
                        </div>
                    </div>

                    <!-- Feature 3 - Engage with Community -->
                    <div class="row">
                        <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                            <div class="feature-image-container img-fluid"
                                 style="background-image: url('{{ url_for('static', filename='img/engage_community_image.jpg') }}');" loading="lazy"></div>
                        </div>

                        <div class="col-12 col-sm-6 align-self-center justify-content-md-ceneter">
                            <div class="steps__content-width">
                                <span>03</span>
                                <h4 class="fw-bold mb-4">Engage with Community</h4>
                                <p>Connect with other bloggers and readers.</p>
                                <a class="btn btn-primary btn-lg" href="{{ url_for('main.home') }}">View Posts</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- Explore Section -->
            <section class="py-4 bg-primary rounded text-white text-center">
                <div class="container">
                    <h2 class="fw-bold mb-4 text-white">Explore Blogify</h2>
                    <p class="lead">Ready to get started? Join Blogify and start sharing your stories.</p>
                    <a class="btn btn-light btn-lg" href="{{ url_for('users.register') }}">Get Started</a>
                </div>
            </section>

            <!-- Testimonial Section -->
            <section class="py-5">
                <div class="container text-center">
                    <h2 class="fw-bold mb-4">What Our Users Say</h2>

                    <!-- Bootstrap Carousel -->
                    <div id="testimonialsAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Testimonial Slide 1 -->
                            <div class="carousel-item active">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_aisha.jpg') }}"
                                             alt="Aisha Abdullahi" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Blogify has transformed the way I share my thoughts. It's a platform that truly empowers my voice."</p>
                                        <h4 class="fw-bold">Aisha Abdullahi</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 2 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_mensah.jpg') }}"
                                             alt="Kwame Mensah" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"As an avid blogger, I've found Blogify to be my perfect companion. Seamless, intuitive, and a joy to use."</p>
                                        <h4 class="fw-bold">Kwame Mensah</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 3 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_pierre.jpg') }}"
                                             alt="Pierre Bouchard" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Connecting with a community of like-minded individuals has been the highlight of my Blogify experience. It feels like a family!"</p>
                                        <h4 class="fw-bold">Pierre Bouchard</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 4 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_emily.jpg') }}"
                                             alt="Emily Thompson" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Blogify's responsive design ensures my content looks amazing on any device. It's a game-changer for content creators."</p>
                                        <h4 class="fw-bold">Emily Thompson</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 5 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_chijioke.jpg') }}"
                                             alt="Chijioke Nwachukwu" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Effortless sharing is not just a promise; it's a reality with Blogify. My posts reach a wider audience with just a click."</p>
                                        <h4 class="fw-bold">Chijioke Nwachukwu</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 6 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_javier.jpg') }}"
                                             alt="Javier Rodriguez" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Registering and managing my account on Blogify is hassle-free. It's the perfect platform for both beginners and seasoned bloggers."</p>
                                        <h4 class="fw-bold">Javier Rodriguez</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Slide 7 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="testimonial-image">
                                        <img src="{{ url_for('static', filename='img/testimonial_faith.jpg') }}"
                                             alt="Faith Muthoni" class="img-fluid rounded-circle" loading="lazy">
                                    </div>
                                    <div class="testimonial-content mt-3">
                                        <p class="lead">"Effortless sharing is not just a promise; it's a reality with Blogify. My posts reach a wider audience with just a click."</p>
                                        <h4 class="fw-bold">Faith Muthoni</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialsAutoplaying"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#testimonialsAutoplaying"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer mt-5 py-3 text-white border-highlight">
            <div class="container d-flex justify-content-between align-items-center">
                <!-- Explore Section -->
                <div class="explore-section">
                    <h5 class="mb-3 text-white">Explore</h5>
                    <ul class="list-unstyled">
                        <li><a href="#review" class="text-white text-decoration-none">Review</a></li>
                        <li><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
                        <li><a href="#faq" class="text-white text-decoration-none">FAQ</a></li>
                    </ul>
                </div>
                <!-- Newsletter Section with Search Bar -->
                <div class="newsletter-section">
                    <h5 class="mb-3 text-white">Newsletter</h5>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Enter your email" aria-label="Search">
                        <button class="btn btn-light ml-2" type="submit">Subscribe</button>
                    </form>
                </div>
                <!-- Social Media Icons Section -->
                <div class="social-icons">
                    <h5 class="mb-3 text-white">Follow Us</h5>
                    <div>
                        <a href="#" class="text-white text-decoration-none me-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white text-decoration-none me-3"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="text-white text-decoration-none me-3"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-white text-decoration-none me-3"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <span class="me-2 text-decoration-none">
                    &copy; 2024 Blogify
                </span>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous">

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous">

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
        </script>

    </body>
</html>
