{% extends "layout.html" %}

{% block content %}
    <!-- Login Form Section -->
    <div class="content-section">
        <form method="POST" action="">
            <!-- CSRF Token -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- Form Title -->
                <legend class="border-bottom mb-4">Log In</legend>
                <!-- Email Input -->
                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Password Input -->
                <div class="form-group mb-3">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Remember Me Checkbox -->
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <!-- Submit Button -->
            <div class="form-group mb-4">
                {{ form.submit(class="btn btn-outline-info") }}
                <!-- Forgot Password Link -->
                <small class="text-muted ml-2">
                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>

    <!-- Sign Up Link -->
    <div class="border-top mb-5">
        <span class="text-muted">
            Need An Account? <a class="ml-4" href="{{ url_for('users.register') }}">Sign Up</a>
        </span>
    </div>
{% endblock content %}
