{% extends "layout.html" %}

{% block content %}
<h3 class="mb-3 d-flex justify-content-between align-items-center">
    <span>Post by <span class="user_id" style="font-color: #320032;">{{ user.username }}</span></span>
    <span class="d-flex align-items-center rounded pl-2 bg-info text-white" style="background-color: #320032;">
        <i class="bi bi-feather" style="font-size: 15px;"></i>
        <span class="badge ml-1">{{ posts.total }}</span>
    </span>
</h3>

<!-- Home Page Template -->
{% for post in posts.items %}
<!-- Individual Post Section -->
<article class="media content-section mb-3">
    <!-- Author Profile Image -->
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">

    <div class="media-body">
        <!-- Article Metadata (Author and Date) -->
        <div class="article-metadata">
            <!-- Author Link -->
            <a href="{{ url_for('users.user_posts', username=post.author.username) }}"
               class="author-fullname">
                <span class="firstname">{{ post.author.firstname }}</span>
                <span class="lastname">{{ post.author.lastname }}</span>
            </a>
            <!-- Date Posted -->
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>

        <!-- Article Title -->
        <h2 class="article-title">
            <!-- Link to Individual Post -->
            <a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
        </h2>

        <!-- Article Content -->
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4"
   href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href
        ="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}
