# Python compiled files
__pycache__/
*.pyc

# SQLite database file
instance/site.db

# Editor and IDE files
.vscode/
.idea/

# Environment-specific files
.env
.blogify_env/

# Dependency directories (if applicable)
venv/
env/

