/*
  Styles for Blogify Web Application

  - Defines overall styles for the entire application.
  - Includes rules for body, headers, navigation, content sections, articles, and user accounts.

  Note: Adjustments to these styles may impact the overall look and feel of the application.
*/

:root {
  --primary-color: #320032;
  --primary-color-highlight: #233D54;
  --bs-body-bg: #F6FBF0;
  --bs-body-font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a { color: var(--primary-color); }
a:hover { color: var(--primary-color); }

body {
  /* Background color and text color for the entire page */
  background: var(--bs-body-bg);
  color: #333333;
  margin-top: 3.4rem;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  /* Text color for heading elements */
  color: #444444;
}

.bg-steel {
  /* Background color for specific elements */
  background-color: #7F007F;
}

.site-header .navbar-nav .nav-link {
  /* Text color for navigation links */
  color: #FFEC00;
}

.site-header .navbar-nav .nav-link:hover {
  /* Hover effect for navigation links */
  color: #FF9700;
}

.site-header .navbar-nav .nav-link.active {
  /* Style for active navigation link */
  font-weight: 500;
}

.hero {
  position: relative;
  height: 45vh;
  background-color: var(--primary-color);
}

.feature-image-container {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}

.testimonial-content {
    flex: 1;
    padding: 20px;
    text-align: center; /* Center text within the container */
}

.testimonial-image {
    width: 100px; /* Adjust the width as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.testimonial-image img {
    width: 100%;
    border-radius: 100%;
}

.content-section {
  /* Styles for content sections */
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 100px;
}

.article-title {
  /* Text color for article titles */
  color: #444444;
}

a.article-title:hover {
  /* Hover effect for article titles */
  color: #428bca;
  text-decoration: none;
}

.article-content {
  /* Styles for article content */
  white-space: pre-line;
}

.article-img {
  /* Styles for article images */
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  /* Styles for article metadata */
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  /* Hover effect for metadata links */
  color: #333;
  text-decoration: none;
}

.article-svg {
  /* Styles for article SVG graphics */
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  /* Styles for user account images */
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  /* Styles for user account headings */
  font-size: 2.5rem;
}

.user_id {
    /* Styles the username text to a subdued color */
    color: #5f788a;
}

.author-fullname {
    /* Displays the author's full name as an inline block without underlines */
    display: inline-block;
    text-decoration: none;
}

.firstname::after {
    /* Adds a space after the first name */
    content: " ";
}


footer {
  /* Text color for the footer section */
  background: #7F007F;
}
